<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>drop-compress-image</id>
    <version>{{VERSION}}</version>
    <packageSourceUrl>https://github.com/logue/DropWebP</packageSourceUrl>
    <owners>logue</owners>
    <title>Drop Compress Image</title>
    <authors>Logue</authors>
    <projectUrl>https://github.com/logue/DropWebP</projectUrl>
    <iconUrl>https://raw.githubusercontent.com/logue/DropWebP/master/app/src-tauri/icons/128x128.png</iconUrl>
    <copyright>2025 Logue</copyright>
    <licenseUrl>https://github.com/logue/DropWebP/blob/master/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/logue/DropWebP</projectSourceUrl>
    <docsUrl>https://logue.dev/DropWebP/</docsUrl>
    <bugTrackerUrl>https://github.com/logue/DropWebP/issues</bugTrackerUrl>
    <tags>image webp avif jpeg-xl jxl png jpeg jpegli oxipng compression converter tauri zopfli</tags>
    <summary>Desktop application that converts images to WebP/Avif(HDR support)/JPEG XL/PNG/JPEG format</summary>
    <description>Drop Compress Image is a desktop application that converts images to WebP/Avif/JPEG XL/PNG/JPEG format using drag-and-drop functionality. Built with Vite, Vue 3, TypeScript, and Tauri.</description>
    <releaseNotes>https://github.com/logue/DropWebP/releases</releaseNotes>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
