/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// Vuetify SASS variables override
@use 'vuetify/settings' with (
  $body-font-family: (
    'Noto Sans',
    'Noto Sans JP',
    'Noto Sans KR',
    'Noto Sans TC',
    'Noto Sans SC',
    'Noto Color Emoji',
    sans-serif
  )
);

// グローバルなフォント設定を追加
:root {
  font-family:
    'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans TC', 'Noto Sans SC', 'Noto Color Emoji',
    sans-serif !important;
}

// 言語別フォント設定
html[lang='ja'],
html[lang='ja'] * {
  font-family: 'Noto Sans JP', 'Noto Sans', 'Noto Color Emoji', sans-serif !important;
}

html[lang='ko'],
html[lang='ko'] * {
  font-family: 'Noto Sans KR', 'Noto Sans', 'Noto Color Emoji', sans-serif !important;
}

html[lang='zhHant'],
html[lang='zhHant'] *,
html[lang='zh-Hant'],
html[lang='zh-Hant'] * {
  font-family: 'Noto Sans TC', 'Noto Sans', 'Noto Color Emoji', sans-serif !important;
}

html[lang='zhHans'],
html[lang='zhHans'] *,
html[lang='zh-Hans'],
html[lang='zh-Hans'] * {
  font-family: 'Noto Sans SC', 'Noto Sans', 'Noto Color Emoji', sans-serif !important;
}

html[lang='en'],
html[lang='en'] *,
html[lang='fr'],
html[lang='fr'] * {
  font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif !important;
}

// Fix for monospace Font.
code,
kbd,
pre,
samp,
var {
  font-family: 'Noto Sans Mono', monospace !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
